{% extends 'base.html' %}
{% block title %}Create Auction{% endblock %}
{% block content %}
<div class="auth-card wide">
  <h2>Create Auction</h2>
  <form method="post">
    <label>Title</label>
    <input type="text" name="title" required>

    <label>Description</label>
    <textarea name="description" rows="4"></textarea>

    <label>Minimum Bid</label>
    <input type="number" name="min_bid" min="1" required>

    <label>End Time (UTC)</label>
    <input type="datetime-local" name="end_time" required>

    <button class="btn" type="submit">Create</button>
  </form>
</div>
{% endblock %}
